.container {
    max-width: calc(var(--container-width-max) + var(--container-padding-x) * 2);
    margin-inline: auto;
    padding-inline: var(--container-padding-x);

    @include smaller-desktop{
        padding: 0 10.8rem;  
    };

    @include tablets{
        padding: 0 8rem;  
    };

    @include small-tablets {
        column-gap: 3.1rem;
        padding: 0 4rem;
    };
    
    @include mobile {
        column-gap: 2.3rem;
        padding: 0 0.6rem;
    };
}

.visually-hidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    border: 0 !important;
    padding: 0 !important;
    white-space: nowrap !important;
    clip-path: inset(100%) !important;
    clip: rect(0 0 0 0) !important;
    overflow: hidden !important;
}

.hidden-mobile {
    @include small-tablets {
        display: none !important;
    }
}

.sticky {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
    z-index: 2;
    box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
  }

.selected {
    opacity: 100% !important;
    &::after {
        width: 100% !important;
    }
}

.color-accent-text {
    color: var(--color-accent-text);
}

.scale-s {
    transform: scale(1.2)
}

.scroll-none {
    overflow: hidden !important;
}